---
import Layout from "../layouts/Layout.astro";
import MapElement from "../components/LeafletMap";
import SearchWidget from "../components/SearchWidget/SearchWidget";
import DarkSwitch from "../components/DarkSwitch";
---

<Layout title="IP address tracker">
  <div class="flex flex-col h-screen">
    <header
      class="h-11 px-2 sm:px-7 flex justify-between items-center bg-violet-50 dark:bg-zinc-900 bg-gradient-to-br from-transparent to-indigo-800/30 border-b border-violet-500"
    >
      <h1
        class="font-semibold uppercase text-lg sm:text-2xl bg-gradient-to-r from-violet-700 dark:from-violet-500 dark:to-amber-500 to-sky-700 bg-clip-text text-transparent text-center"
      >
        ip address tracker
      </h1>
      <DarkSwitch client:only="react" />
    </header>
    <main class="grow h-full">
      <div class="absolute top-12 sm:top-16 left-2 sm:left-5 z-10 w-64 sm:w-96">
        <SearchWidget client:only="react" />
      </div>
      <MapElement client:only="react"/>
    </main>
  </div>
</Layout>
